# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!automation
!*.csv
!blueprints
!blueprints/automation
!blueprints/automation/homeassistant
!blueprints/script
!blueprints/script/homeassistant

# Ignore folders.
.storage
.cloud
.google.token
google_account.json
o365_storage
.ssh
esphome

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
zones.yaml
o365_calendars.yaml
zwave_device_config.yaml
.O365-token-cache
google_calendars.yaml
